body {
    background: #f7f7f7;
}

.foto {
    margin:0px;
    border: 3px solid black;
    margin-bottom: 15px;
    border-radius: 60px;
 
#title, .subtitle, .post_title {
    color:black
    ;
}

}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0px;
    margin-bottom: 15px;
    
}

.post {
    background: white;
    padding: 15px;
    border: 3px solid black;
    margin: 0px;
    margin-bottom: 15px;
    border-radius: 30px;
}

.post-content {
    margin: 0px;
    margin-bottom: 15px;
    border-radius: 30px;
}

.post-image {
    margin: 0px;
    margin-bottom: 15px;
    border-radius: 30px;
}